<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Line_In_VU_Meter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Line_In_VU_Meter.Properties.Settings>
            <setting name="recordOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="multiplier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="transparancy" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="savePos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="clickThrough" serializeAs="String">
                <value>True</value>
            </setting>
        </Line_In_VU_Meter.Properties.Settings>
    </userSettings>
</configuration>